-- Add status and archived_at columns
ALTER TABLE workspaces ADD COLUMN IF NOT EXISTS status text DEFAULT 'active';
ALTER TABLE workspaces ADD COLUMN IF NOT EXISTS archived_at timestamp with time zone;
 
-- Enable pg_cron extension if you have superuser access:
-- CREATE EXTENSION IF NOT EXISTS pg_cron;
 
-- Schedule a job to permanently delete archived workspaces older than 7 days
-- SELECT cron.schedule('delete_archived_workspaces', '0 0 * * *', \$\$ 
--   DELETE FROM workspaces WHERE status = ''archived'' AND archived_at < NOW() - INTERVAL ''7 days'';
-- \$\$);
